:root{
}



/* Basic Reset */
*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

a,
a:visited,
a:active{
  text-decoration: none;
  color: var(--color-3);
}

html{
  /* 1 rem = 10px */
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: var(--color-1);
  color: var(--color-2);
}
 
img{
  /* responsive images inside div's */
  max-width: 100%; 
  max-height:100%;
}

/* End of Reset */

/* Toggle switch */
body[data-theme="light"] {
  --color-1: rgb(243, 243, 243);
  --color-2: rgb(0, 0, 0);
  --color-3: rgb(36, 138, 179);
  --color-4: rgb(80, 82, 110);
}

body[data-theme="dark"] {
  --color-1: #1e1f26;
  --color-2: rgb(243, 243, 243);
  --color-3: rgb(189, 129, 19);
  --color-4: rgb(186, 186, 202);
}

.theme-switcher {
  position: absolute;
  right: 30px;
  top: 10px;
}

.theme-switcher > input {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}
.theme-switcher > label {
  cursor: pointer;
  display: block;
  text-indent: -9999px;
  height: 20px;
  width: 40px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s ease background-color;
}
.theme-switcher > label::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: rgb(46, 42, 68);
  transition: 0.5s ease;
}
.theme-switcher > input:checked + label::after {
  /* left: calc(100% - 2.5px); */
  left: calc(100% - 20px);
  background-color: aliceblue;
}
.theme-switcher > input:checked + label {
  background-color: rgb(25, 26, 37);
  border: 2px solid whitesmoke;
}
 /* END OF SWITCH */

main{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80% ;
}

.image{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  background-color: var(--color-3);
}

.image-logo {
  text-align: center;
  height: 100%;
  padding: 2rem;
}

.form{
  text-align: center;
}

.form-container__text,
.form-container__inputs,
.form-container__submit,
.sign-in{
  padding: 4rem;
}

.form-container__input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}


.form-container__input > label {
  color: var(--color-1);
  font-size: 1.5rem;
  margin-bottom: 1rem;

}

.form-container__input > input{
  width: 100%;
  padding: 1.5rem 3rem;
  margin-bottom: 1rem;
  border: 1px solid white;
  outline: none;
  border-radius: 1rem;
}
.form-container__input > input:focus{
  border: 1px solid black;
}

.form-container__input > input:invalid {
  border: 1px solid red;
}

.form-container__text > h2,
.sign-in > h2 {
  font-size: 2.4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

span{
  color: var(--color-3)
}

.form-container__inputs {
  background: var(--color-3);
}

.submit-button{
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  padding: 1.75rem 3rem;
  border: none;
  outline: none;
  border-radius: 50px;
  background: var(--color-3);
  color: var(--color-1);
  font-size: 2rem;
}

.submit-button:hover{
  background: var(--color-4);
}

@media screen and (min-width:792px) {
  main{
    height: 100vh;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr ;
  }

  .form{
    /* display: flex;
    flex-direction: column; */
  }

  .image{
    background-image: url(./background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .image-logo {
    background: rgba(0,0,0,.5);
    height: 20%;
    text-align: center;
    padding: 3rem;
  }

  .form-container__text{
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .form-container__inputs{
   margin-bottom: 7rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
   box-shadow: 0 5px 5px rgba(0,0,0,.2);
  }

  .form{
    text-align: left;
  }

  .form-container__input > input{
    width: 80%;
  }
}



