:root{
  /* --color-base-bg: black;
  --color-base-large-opacity: rgba(0,0,0,0.9);
  --color-base-small-opacity: rgba(0,0,0,0.2);
  --color-base-txt: white;
  --color-btn-bg: orange;
  --pading-top-bottom: 3vh;
  --pading-large: 3vh 10vh 0vh 0vh;
  --pading-small: 0 5vh;
  --color-gray-dark: rgb(51, 51, 51);
  --light: #d8dbe0;
  --dark: #28292c;
  --small-font-size: 1rem;
  --medium-font-size: 1.4rem;
  --large-font-size: 2rem; */

}



/* Basic Reset */
*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

a{
  text-decoration: none;
}

html{
  /* 1 rem = 10px */
  font-size: 62.5%;
}

body{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background: var(--color-1);
  color: var(--color-2);
}
 
img{
  /* responsive images inside div's */
  max-width: 100%; 
}

/* End of Reset */

/* Toggle switch */
body[data-theme="light"] {
  --color-1: rgb(196, 220, 241);
  --color-2: white;
  --color-3: white;
  --color-4: rgb(80, 82, 110);
}
body[data-theme="dark"] {
  --color-1: #1e1f26;
  --color-2: #292c33;
  --color-3: rgb(39, 40, 42);
  --color-4: rgb(186, 186, 202);
}
.theme-switcher {
  position: absolute;
  right: 30px;
  top: 10px;
}

.theme-switcher > input {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}
.theme-switcher > label {
  cursor: pointer;
  display: block;
  text-indent: -9999px;
  height: 20px;
  width: 40px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s ease background-color;
}
.theme-switcher > label::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: rgb(46, 42, 68);
  transition: 0.5s ease;
}
.theme-switcher > input:checked + label::after {
  /* left: calc(100% - 2.5px); */
  left: calc(100% - 20px);
  background-color: aliceblue;
}
.theme-switcher > input:checked + label {
  background-color: rgb(25, 26, 37);
  border: 2px solid whitesmoke;
}

 /* END OF SWITCH */





@media screen and (min-width:792px) {
 
}



